---
title: Families
layout: default
permalink: /tag-families/
---
<h2>Families</h2>
{% for book in site.books %}
{% if book.tags contains 'families' %}
<div class="content-right">
  <h3><a href="{{ book.url | relative_url }}" alt="View full book description">{{ book.title }}</a></h3>
  <p>{{ book.content |  truncatewords: 50, "..." | strip_html }}</p>
  <p>Try this book for: {{ book.categories }}</p>
  <p>Source: <a href= "{{ book.source }}">Publisher's description</a></p>
</div>
<div class="img-left">
  <img src="{{ book.image | relative_url }}" alt="Cover image for {{ book.title }}">
</div>
<div class="clearfix"></div>
{% endif %}
{% endfor %}
