---
title: Books for Preschoolers
layout: default
permalink: /preschoolers/
---
<h2>Books for Preschoolers 3-5</h2>
{% assign sorted_books = site.books | sort: "title" %}
{% for book in sorted_books %}
{% if book.categories contains 'Preschoolers' %}
<div class="container">
<div class="row">
  <div class="col-md-auto" role="img" aria-label="Cover image for the book {{ book.title }}">
    <img class="teaser-image" src="{{ book.image | relative_url }}" alt="Cover image for {{ book.title }}">
  </div>
    <div class="col-md-auto teaser">
  <h3><a href="{{ book.url | relative_url }}" alt="View full book description">{{ book.title }}</a></h3>
  <p>Author: {{ book.author }}</p>
  {% if book.illustrator %}
  <p>Illustrator: {{ book.illustrator }}</p>
  {% endif %}
  {% if book.photographs %}
  <p>Photographs: {{ book.photographs }}</p>
  {% endif %}
  <p>{{ book.content | truncatewords: 50, "..." | strip_html }}</p>
  <p>Source: <a href="{{ book.source }}" target="_blank">Publisher's Description</a></p>
    </div>
  </div>
  </div>
<div class="clearfix"></div>

{% endif %}
{% endfor %}
