---
title: Books for Preschoolers
layout: default
permalink: /preschoolers/
---
<h1> Here are books for preschoolers!</h1>
{% for book in site.books %}
{% if book.categories contains 'Preschoolers' %}

<div class="content-right">
  <h3>{{ book.title }}</h3>
  <p>{{ book.content }}</p>
  <p>Source: <a href= "{{ book.source }}">Publisher's description</a></p>
</div>
<div class="img-left">
  <img src="{{ book.image }}" alt="Cover image for {{ book.title }}">
</div>
<div class="clearfix"></div>

{% endif %}
{% endfor %}
