<header class="page-header" role="banner">
  <h1 class="project-name"><a href="{{ '/' | relative_url }}">{{ site.title | default: site.title | default: site.github.repository_name }}<a></h1>
  <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
  <nav class="navbar navbar-expand-lg bg-white">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-bar navbar-kebab"></span>
    <span class="navbar-toggler-bar navbar-kebab"></span>
    <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ '/' | relative_url }}">View Full List </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/babies/' | relative_url }}">Babies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/toddlers/' | relative_url }}">Toddlers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/preschoolers/' | relative_url }}">Preschoolers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/about/' | relative_url }}">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="javascript:;" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Browse by Theme
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ '/babies/' | relative_url }}">Test</a>
            <a class="dropdown-item" href="javascript:;">Another action</a>
            <a class="dropdown-item" href="javascript:;">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>
