---
---

.page-header {
  background-color: transparent;
  background-image: url({{ '/assets/images/pencils.jpg' | relative_url }});
  background-position: center right;
  height: auto;
  display: block;

}

  .project-name {
    font-size: 5rem;
    padding-top: 1%;
    padding-bottom: inherit;
    padding-left: inherit;
    padding-right: inherit;
    a:visited {
      color: rgba(255,255,255, 1.0);
    }
  }

#navbarNav {
  color: rgba(255,116,0,1.0);
}


body {
  background-color: rgba(255,255,255,1.0);
}

.main-content {
  padding: 2rem 3rem;
  text-align: justify;
}

.main-content h1 {
  color: rgba(255,116,0, 1.0);
  font-size: 2em;
}

.main-content h2 {
  color: rgba(255,116,0, 1.0);
  font-size: 1.5em;
}

.main-content h3 {
  color: rgba(255,116,0, 1.0);
  font-size: 1.17em;
}

.main-content h4 {
  color: rgba(255,116,0, 1.0);
  font-size: 1em;
}

.main-content h5 {
  color: rgba(255,116,0, 1.0);
  font-size: .83em;
}

.main-content h6 {
  color: rgba(255,116,0, 1.0);
  font-size: .67em;
}

.page-title {
  font-size: 2em;
  color: rgba(255,255,255, 1.0);
}

.teaser {
  @media all and (min-width: 960px) {
    width: 66%;
    display: block;
    padding-left: 0.5em;
    padding-top: 1.5em;
  }

  @media (max-width: 400px) {
    padding-left: none;
    padding-top: 0.5em;
    padding-bottom: 2em;
  }

  a:link {
  color: rgba(255,116,0,1.0);
}
  a:visited {
  color: rgba(255,116,0,1.0);
}
  }

.teaser-image {
  @media all and (min-width: 960px) {
      float: left;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      padding-left: 0.5em;
      padding-right: 1.0em;
    }

    @media (max-width: 400px) {
      float: left;
      padding-left: none;
      padding-top: none;
      padding-bottom: 1.5em;
    }

  }

.bookpage-image {
    @media all and (min-width: 960px) {
      display: inline;
      float: left;
      padding-top: 1.0em;
    }
  }

.bookpage-content {
    a:link {
      color: rgba(255,116,0,1.0);
    }
    a:visited {
      color:rgba(255,116,0,1.0);
    }
  }

img {
    max-width: 100%;
    height: auto;
  }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.col-md-auto {
    max-width: 50%;
  }

div.container {
    padding-left: 0;
  }


.col-md-auto {
  @media (max-width: 959px) {
    min-width: 300px;
  }

}
