---
layout: default
---
<h2>{{ page.title }}</h2>
<div class="container">
  <div class="row">
    <div class="col-sm-auto">
      <img class="bookpage-image" src="{{ page.image | relative_url }}" alt="Cover image for {{ page.title }}">
    </div>
    <div class="col-lg">
      <p>{{ page.content }}</p>
      <p>Author: {{ page.author }}</p>
      {% if page.illustrator %}
      <p>Illustrator: {{ page.illustrator }}</p>
      {% endif %}
      {% if page.photographs %}
      <p>Photographs: {{ page.photographs }}</p>
      {% endif %}
      <p>Try this book for: {{ page.categories }}</p>
      <p>Source: <a class="show-link" href="{{ book.source }}" target="_blank">Publisher's Description</a></p>

    </div>
  </div>
  </div>
<div class="clearfix"></div>
