---
layout: default
---
<h2>{{ page.title }}</h2>
<div class="container">
  <div class="row">
    <div class="col-sm-auto" role="img" aria-label="Cover image for the book {{ page.title }}">
      <img class="bookpage-image" src="{{ page.image | relative_url }}" alt="Cover image for {{ page.title }}">
    </div>
    <div class="col-lg bookpage-content">
      <p><b>Author: {{ page.author }}</b></p>
      {% if page.illustrator %}
      <p><b>Illustrator: {{ page.illustrator }}</b></p>
      {% endif %}
      {% if page.photographs %}
      <p><b>Photographs: {{ page.photographs }}</b></p>
      {% endif %}
      {% assign age = page.categories | split: ", " %}
      <p><b>Try this book for: {{ age | join: " and " }}</b></p>
      <p>{{ page.content }}</p>
      <p>Source: <a class="show-link" href="{{ book.source }}" target="_blank">Publisher's Description</a></p>
    </div>
  </div>
  </div>
<div class="clearfix"></div>
